---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<GEOLOCATION_API_KEY>&location=Caye%20Caulker,%20Belize
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 16 Jan 2021 22:34:26 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Caye
        Caulker, Belize"},"locations":[{"street":"Belize City - Caye Caulker","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Belize","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"BZ","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"B3CAA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"BZ/STR/p0/1627","unknownInput":"","type":"s","latLng":{"lat":17.62462,"lng":-88.10969},"displayLatLng":{"lat":17.62462,"lng":-88.10969},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<GEOLOCATION_API_KEY>&type=map&size=225,160&locations=17.62462,-88.10969|marker-sm-50318A-1&scalebar=true&zoom=15&rand=459874377"},{"street":"Caye
        Caulker - San Pedro","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Belize","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"BZ","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"B3CAA","geocode[...]
