---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<PHOTOS_API_KEY>&per_page=10&query=abcdefgh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Total:
      - '0'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"total":0,"total_pages":0,"results":[]}'
  recorded_at: Sat, 16 Jan 2021 23:32:09 GMT
recorded_with: VCR 6.0.0
